body {
    background: #fff2e6;
    font-family: Arial;
}

.chatgpt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chatgpt-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chatgpt-page-img {
    height: 70px;
    margin-top: 40px;

}

.chatgpt-heading {
    margin-top: 60px;
    margin-left: 20px;
    color: rgb(254 83 115);
}

.chatgpt-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.chatgpt-screenshot-img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
}


.tool-page-container {
    padding: 50px;
}


.tool-logo {
    width: 100px;
}

.tool-name {
    margin: 0;
    font-size: 40px;
}

.tool-tagline {
    color: gray;
    font-size: 17px;
    margin-top: 10px;
}

.visit-btn {
    background: linear-gradient(45deg, #ff5c8a, #ff7a7a);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    margin-top: 15px;
    cursor: pointer;
}


.details-card {
    margin-top: 25px;
    padding: 25px;
    border-radius: 18px;
}

.card-heading {
    margin-top: 0;
    color: #ff4d6d;
}


.feature-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}

.feature-box {
    background-color: #f8f8f8;
    width: 220px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    border: 1px solid #eee;
}

.feature-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-color: #ff5c8a;
}

.feature-box-img {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choose-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.choose-card {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 350px;
    padding: 18px;
    border-radius: 14px;
    background: #ffffff;
    border: 1px solid #eee;

    transition: 0.3s;
}

.icon-box {
    background: #fff0f5;
    padding: 10px;
    border-radius: 12px;
}

.card-img {
    width: 50px;
}

.content h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.content p {
    font-size: 14px;
    color: #666;
    margin: 8px 0 12px;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section */

.pricing-section {

    width: 90%;
    margin: 40px auto;
    margin-top:0;

}

/* Heading */

.pricing-heading {

    text-align: center;
    color: #1e293b;
    font-size: 28px;
    color: #ff5c8a;
    margin-bottom: 30px;
}

/* Container */

.pricing-container {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card */

.pricing-card {

    width: 320px;
    background-color: white;
    border-radius: 18px;
    padding: 18px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

/* Hover */

.pricing-card:hover {
    transform: translateY(-6px);
}

/* Tags */

.plan-tag {

    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

.free-tag {
    background-color: #22c55e;
}

.plus-tag {
    background-color: #a855f7;
}

/* Name */

.plan-name {
    margin-top: 40px;
    margin-bottom: 8px;
    color: #1e293b;
}

/* Info */

.plan-info {

    color: gray;
    font-size: 14px;
    line-height: 1.5;
}

/* Price */

.price-box {
    margin-top: 15px;
}

.price {

    font-size: 38px;
    font-weight: bold;
    color: #22c55e;
}

.purple-text {

    color: #a855f7;
}

.month {

    color: gray;

    font-size: 14px;
}

/* Features */

.features-container {

    margin-top: 18px;
}

.features-container p {

    background-color: #f8fafc;
    padding: 8px;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
}

/* Buttons */

.plan-btn {

    width: 100%;
    margin-top: 18px;
    padding: 11px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.free-btn {

    background-color: #22c55e;
}

.plus-btn {

    background: linear-gradient(45deg, #9333ea, #c026d3);
}

/* Button Hover */

.plan-btn:hover {

    transform: scale(1.02);
}

/* Different Background */

.free-card {

    border: 2px solid #dcfce7;
}

.plus-card {

    border: 2px solid #f3e8ff;
}


/* Mobile Screen */

@media screen and (min-width: 300px) and (max-width: 768px) {

  .chatgpt-screenshot-img {
    width: 100%; 
} 

.feature-box {
    width: 100%;
}

.feature-box-container {
    gap: 5;
}

.details-card {
    margin-top: 5px;
    padding: 5px;
}

.tool-page-container{
    padding: 20px;
}

}

