/* BODY */

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f7f4ef;
    color:#1c1c1c;
}


/* HERO SECTION */

.hero-section{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px 8%;
    gap:50px;
}

.hero-left{
    width:50%;
}

.small-heading{
    color:#0d1b2a;
    font-weight:bold;
    letter-spacing:1px;
}

.main-heading{
    font-size:32px;
    line-height:50px;
    margin-top:15px;
    color: rgb(254 83 115);
  
}

.hero-description{
    font-size:18px;
    line-height:32px;
    color:#555;
    margin-top:20px;
}

.explore-btn{
    padding:15px 35px;
    border:none;
    background: linear-gradient(45deg, #ff5c8a, #ff7a7a);
    color:white;
    font-size:17px;
    border-radius:10px;
    margin-top:30px;
    cursor:pointer;
    transition:0.3s;
}

.explore-btn:hover{
    background-color:#e55d00;
    transform:translateY(-3px);
}

.hero-right{
    width:50%;
    display:flex;
    justify-content:center;
}

.hero-image{
    width:100%;
    max-width:500px;
}

/* WHY SECTION */

.why-section{
    padding:40px 8%;
    background-color:white;
}

.section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:40px;
    color: rgb(254 83 115);
}

.card-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.info-card{
    background-color:#f7f4ef;
    padding:25px 20px;
    border-radius:20px;
    text-align:center;

    transition:0.3s;
}

.info-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.card-icon{
    width:50px;
    margin-bottom:20px;
}

.info-card h2{
    color:#0d1b2a;
}

.info-card p{
    color:#555;
    line-height:28px;
}

/* MISSION SECTION */

.mission-section{
    padding:80px 8%;
}

.mission-content{
    display:flex;
    align-items:center;
    gap:60px;
}

.mission-left{
    width:50%;
}

.mission-image{
    width:100%;
}

.mission-right{
    width:50%;
}

.mission-heading{
    font-size:32px;
    color: rgb(254 83 115);
    margin-top:15px;
}

.mission-description{
    color:#555;
    line-height:32px;
    font-size:18px;
    margin-top:20px;
}



/* RESPONSIVE */

@media screen and (max-width:992px){

    .hero-section{
        flex-direction:column;
    }

    .hero-left,
    .hero-right{
        width:100%;
        text-align:center;
    }

    .main-heading{
        font-size:42px;
        line-height:60px;
    }

    .card-container{
        grid-template-columns:repeat(2,1fr);
    }

    .mission-content{
        flex-direction:column;
    }

    .mission-left,
    .mission-right{
        width:100%;
        text-align:center;
    }
}

@media screen and (max-width:600px){


    .main-heading{
        font-size:32px;
        line-height:48px;
    }

    .section-title{
        font-size:32px;
    }

    .mission-heading{
        font-size:32px;
    }

    .card-container{
        grid-template-columns:1fr;
    }

    .hero-description,
    .mission-description{
        font-size:16px;
        line-height:28px;
    }
}