body {
    background: #fff2e6;
    color: rgb(19, 19, 18);
    font-family: Arial;
}

.categories-main-heading-section {
    width: 100%;
    text-align: center;
}

.categories-main-heading-section-1 {
    color: rgb(254 83 115);
    font-size: 32px;
    display: block;
    margin-top: 20px;
}

.categories-main-heading-section-2{
    display: block;
    margin-bottom: 20px;
}

.Categories-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.Categories-cards {
display: flex;
flex-direction: column;
 width: 280px;
  background: #ffffff;
  border-radius: 16px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.test{
    padding: 15px;
}

.test-btn {
  text-decoration: none;
}

.Categories-cards:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.Categories-cards-img {
  width: 100%;
  border-radius: 12px;
}

.Categories-cards-heading {
    font-size: 22px;
   text-align: center;
   margin: 10px 0;
   color: rgb(254 83 115);
 font-weight: bold;
}

.Categories-cards-info {
   text-align: justify;
   padding-top: 5px;
   font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.Categories-cards-btn {
   display: block;
  margin: 15px auto 10px;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #ff5c8a, #ff7a7a);
  color: white;
  cursor: pointer;
  transition: 0.3s; 

}

.Categories-cards-btn:hover {
  transform: scale(1.05);
}