.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(27, 26, 26);
    color: white;
    margin-top: 30px;
}

.footer-menu {
    background-color: rgb(27, 26, 26);
    width: 220px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-menu-1{
    width: 300px;
}

.footer-menu-1-text {
    text-align: start;
}

.footer-logo-section {
  display: flex;
  align-items: center;  
  gap: 10px;            
}

.logo-img {
  height: 35px;
  width: 35px;
}

.footer-logo-section  {
  font-size: 20px;
  margin: 0;             
}


.footer-logo {
    background-color: white;
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.footer-logo-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  justify-content: start;
  gap: 15px;
}

.footer-quick-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.footer-categories-type {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.location {
    color: white;
    text-decoration: none;
}

.email {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 15px;
}

/* Mobile Screen */

@media screen and (min-width: 300px) and (max-width: 768px) {
  .footer-quick-links {
    gap: 0px;
} 

.footer-menu-1-text {
    text-align: center;
}

.footer-logo-all {
  justify-content: center;
  gap: 20px;
}

}



