body {
    background: #fff2e6;
    color: rgb(19, 19, 18);
    font-family: Arial;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.hero-container-1-img {
    width: 450px;
    border-radius: 20px;
}

.hero-container-2 {
    background-color: white;
    height: 450px;
    flex: 1;
    margin-left: 20px;
    border-radius: 20px;
}
    
.hero-text-1 {
    text-align: center;
    
}

.hero-text-2 {
    text-align: center;
}

