body {
    background: #fff2e6;
    color: rgb(19, 19, 18);
    font-family: Arial;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.hero-container-1-img {
    width: 450px;
    border-radius: 20px;
}

.hero-container-2 {
    background-color: white;
    height: 450px;
    margin-left: 20px;
    border-radius: 20px;
    border: solid gray 0.5px;
}
    
.hero-text-1 {
    text-align: center;
    color: rgb(254 83 115);
    
}

.hero-text-2 {
    text-align: center;
}

.feature-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    width: 280px;
    background-color: rgb(240, 240, 207);
    align-items: center;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    color:black;
    border: solid rgb(152, 151, 151) 0.5px;
}

.card-img {
    height: 35px;
    margin-right: 10px;
}

.card-btn {
     padding: 12px 25px;
    background-color: rgb(254 83 115);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    align-items: center; 
   
}

.btn-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

/* Mobile Screen */

@media screen and (min-width: 300px) and (max-width: 768px){
  
    .hero-container {
        flex-wrap: wrap;
    }

    .hero-container-1-img {
    width: 100%;
    border-radius: 20px;

}

.hero-container-2 {
    margin-left: 0px;
    margin-top: 10px;
    height: 630px;
}

.hero-text-1 {
    text-align: center;
    color: rgb(254 83 115);
    font-size: 25px;
    
}

.card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.card-img {
    height: 25px;
    margin-right: 10px;
}

.hero-text-2{
    padding: 5px;
    font-size: 15px;
}

}




