body {
    font-family: Arial, sans-serif;
    background-color: #fff2e6;
}

.developer-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.tool-card {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 350px;
    padding: 18px;
    border-radius: 14px;
    background: #ffffff;
    border: 1px solid #eee;

    transition: 0.3s;
}

/* CLEAN HOVER (not too flashy) */
.tool-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    border-color: #ff5c8a;
}

/* ICON BOX */
.icon-box {
    background: #fff0f5;
    padding: 10px;
    border-radius: 12px;
}

.card-img {
    width: 50px;
}

.content h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.content p {
    font-size: 14px;
    color: #666;
    margin: 8px 0 12px;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    font-size: 11px;
    background: #ffe4ec;
    color: #ff4d6d;
    padding: 3px 8px;
    border-radius: 10px;
}


.btn {
    display: block;
    padding: 7px 16px;
    border-radius: 20px;
    border: none;
    background: #ff5c8a;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #e94b78;
    transform: scale(1.05);
}

.developer-page-title {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

.developer-page-title-heading {
    font-size: 32px;
    color: rgb(254 83 115);
    margin-bottom: 10px;
}

.developer-page-title-info {
    font-size: 16px;
    color: gray;
    max-width: 600px;
    margin: auto;
}

.btn-know-more {
    text-decoration: none;
}

/* Mobile Screen */

@media screen and (min-width: 300px) and (max-width: 768px) {
    
.tool-card {
    width: 240px;
     display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin-left: auto;
    margin-right: auto;
}
}
